:root {
  --base-padding: 5px;
  --base-green: rgb(0, 189, 95);
  --base-red: crimson;
  --base-shadow: rgba(0, 0, 0, 0.2);
  --base-font-size: 1.2em;
  --base-radius: 0.3rem;
}

body {
  margin: 0;
  padding: 0;
}

h3 {
  border-bottom: 1px solid #3f3f3f41;
}

img {
  width: 100px;
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-color: #e5e7e941;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 40vw;
  min-width: 200px;
  border-radius: var(--base-radius);
  padding: var(--base-padding);
}

@media only screen and (max-width: 600px) {
  .container {
    width: 90vw;
    padding: 10% 0;
  }
}

.income-container {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 10px var(--base-shadow);
  margin: 0 auto;
  border-radius: var(--base-radius);
}

.money {
  font-size: var(--base-font-size);
  font-weight: bold;
}

.money-in {
  color: var(--base-green);
}
.money-out {
  color: var(--base-red);
}
.income {
  flex: 1;
  text-align: center;
}

.expense {
  border-left: 1px solid var(--base-shadow);
  flex: 1;
  text-align: center;
}

ul {
  padding: 0;
  max-height: 600px;
  overflow-y: auto;
}

li {
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 5px 0;
  justify-content: space-between;
  padding: var(--base-padding);
}

.in {
  color: var(--base-green);
  border-left: 3px solid var(--base-green);
}

.out {
  border-left: 3px solid var(--base-red);
  color: var(--base-red);
}

.form-control {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10%;
}

.label {
  font-weight: 400;
  margin-bottom: 5px;
}

input {
  height: 30px;
  padding-left: var(--base-padding);
  width: 100%;
}

.amount-container {
  display: flex;
}

.btn {
  width: 36px;
  height: 36px;
  font-size: var(--base-font-size);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: none;
  color: #ffff;
  border-radius: var(--base-radius);
}

.plus {
  background-color: var(--base-green);
}

.minus {
  background-color: var(--base-red);
}
.transaction-btn {
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: var(--base-green);
  color: #ffff;
  font-size: var(--base-font-size);
  border: none;
  border-radius: var(--base-radius);
}
